*{
    margin: 0;
    border:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: aqua;
}
.conteudoprincipal{
    width: 100% !important;
    height:100%;
    background-color: antiquewhite;
}