*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #F2F2E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoprincipal{
    width: 80% !important;
    height: 95%;
    top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 2px 6px black;
    background-color: white;
    color: #FF8F00;
    text-transform: uppercase;
}

.areaconveniosTop{
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    border-radius: 10px 10px 0 0;
}

.areaconveniosDown{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.titulo{
    width: 100%;
    height: 20%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: 0 0 15px 0;
}

.paddingTitulos{   
    padding: 10px;
}

.tituloConteudo{
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tituloConteudo>img{
    width: 60%;
    height: 100%;
}

.areaLinks{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.tituloAreaLinks{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.areaBotoes{
    height: 100%;
    width: 50%;
    padding: 10px 0 10px 0;
}

.btn_Convenios{
    width: 100%;
    height: 2%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0288d1;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 1px 2px 6px black;
}

.btn_Convenios:hover{
    background-color: #01579B;
    cursor: pointer;
}